mat-grid-tile {
    background: rgb(225, 241, 247);
    position: absolute;
  }
  .saludoSector{
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
  }
