@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');

.titulo {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  height: 12%;
}

.texto {
  margin-left: 2%;
  font-size: 150%;
  padding-top: 1.3%;


}

.carousel {
  width: 100%;
  min-height: 45%;
  text-align: center;
  box-shadow: -5px 5px 12px rgba(97, 97, 97, 0.151);

}

.example-card {
  cursor: pointer;
  height: 90%;
  width: 95%;
  border-radius: 2.5%;
}

.mat-card-title{
  color: rgba(247, 1, 1, 0.703);
  text-align: left;
  padding-left: 0px;
  padding-top: 6px;
  transform: translate3d(-12px,-12px,0px);
  font-size: larger;
}
.mat-card-subtitle{
  transform: translate3d(-12px,-12px,0px);
}

.example-card:hover {
  cursor: pointer;
  height: 90%;
  width: 95%;
  transition: 0.2s;
  color: rgba(247, 1, 1, 0.703);
  transform: translate(1%, -1%);
}

.mat-card-actions{
  cursor:pointer;
  text-align:right;
}

.especial{
  transform:translateY(-120%);
}

