@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');

.titulo{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: -14px;
}
.carousel{
    width: 100%;
    text-align: center;
    box-shadow: 40px 10px 20px rgba(97, 97, 97, 0.521);
    
}