<body>
  <div class="titulo">
    <h1 class="texto">
      Bienvenidos a<span style="color:rgb(0, 88, 124);"> Intranet</span><span> 2.0</span>
    </h1>
  </div>
  <div class="carousel">
    <ngb-carousel *ngIf="images">
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[0]" alt="Random second slide">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[1]" alt="Random third slide">
        </div>
      </ng-template>
    </ngb-carousel>
  </div>

  <div style=" height: 43%;background-color:rgba(0, 87, 122, 0.204); ">
    <div style="padding:20px">
      <mat-grid-list cols="4" rowHeight="2:1">

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title><b>Clientes con Plazo Estimado de Cobranza</b></mat-card-title>
              <mat-card-subtitle><b>Listado de clientes con plazo estimado de cobranza</b></mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions class="especial">
              <mat-icon >arrow_forward_ios</mat-icon>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-card routerLink="/home/gestionDeClientes/clientesConDificultades" class="example-card">
            <mat-card-header>
              <mat-card-title><b>Clientes con Dificultades</b></mat-card-title>
              <mat-card-subtitle><b>Listado de clientes con dificultades</b></mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <mat-icon >arrow_forward_ios</mat-icon>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title><b>Clientes con Límite crediticio</b></mat-card-title>
              <mat-card-subtitle><b>Listado de clientes con limite crediticio</b></mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <mat-icon class="especial">arrow_forward_ios</mat-icon>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title><b>Clientes Morosos</b></mat-card-title>
              <mat-card-subtitle><b>Listado de clientes morosos</b></mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <mat-icon>arrow_forward_ios</mat-icon>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>

      </mat-grid-list>
    </div>
  </div>
</body>
