
<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar style="background-color:rgba(0, 88, 126, 0.793); height: 65px;" class="example-toolbar">
        <button style="color:aliceblue" mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1 class="example-app-name" style="color:aliceblue">Intranet 2.0</h1>
        <span class="example-spacer"></span>
        
        
        <button mat-stroked-button class="buttonNav" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"> 
        <div class="contentButtonNav">
            <div>
                <img src={{imgUser}} alt="" class="imgUserNav">
                <h4 class="nameNav">{{nameUser}}</h4>
            </div>
        </div>
        </button>
        <mat-menu #menu="matMenu">
            <button class="buton1Nav" mat-menu-item routerLink="/login">
              <mat-icon>logout</mat-icon>
              <span>cerrar sesión</span>
            </button>
            <button class="buton2Nav"mat-menu-item>
              <mat-icon>password</mat-icon>
              <span>cambio de contraseña</span>
            </button>
            <button class="buton3Nav"mat-menu-item>
              <mat-icon>notifications</mat-icon>
              <span>notificaciones</span>
            </button>
          </mat-menu>
       
            
        
        
    </mat-toolbar>
    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [ngStyle]="{ 'width.em': 16 }"   id="sidenav" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56" closed>
            <div class="usuario">
                <img src={{imgUser}} alt="" class="imgUser">
                <h4 class="name">{{nameUser}}</h4>
                <p class="email">{{emailUser}}</p>
            </div>
            <mat-nav-list>
                <a mat-list-item routerLink="/home"><i class="fa-solid fa-house"></i>Home</a>
                <a mat-list-item routerLink="/home/usuarios"><i class="fa-solid fa-users"></i>Usuarios</a>
                <a mat-list-item routerLink="/home/reportes"><i class="fa-brands fa-rebel"></i>Reportes</a>
                <a mat-list-item routerLink="/home/powerBi"><i class="fa-solid fa-chart-column"></i>PowerBi</a>
                <a mat-list-item routerLink="/home/powerBi2"><i class="fa-solid fa-chart-pie"></i>PowerBi-2</a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>