<table class="table table-hover table-dark">
    <thead>
      <th>ID</th>
      <th>Codigo</th>
      <th>Nombre cliente</th>
      <th>comentarios</th>
      <th>fecha</th>
     <!--<th>fecha de Baja</th> -->
      <th>fecha de Modificacion</th>
      <th>usuario</th>
      <!--<th>userBaja</th>-->
      <th>userModi</th>
      <th>edit</th>
    </thead>
    <tbody>
      <tr class="rows" *ngFor="let cliente of clientesCDList$|async">
        <td>{{cliente.clI_ID}}</td>
        <td>{{cliente.clI_COD}}</td>
        <td>{{cliente.clI_NOM}}</td>
        <td>{{cliente.comentarios}}</td>
        <td>{{cliente.fecha}}</td>
        <!--<td>{{cliente.fechaBaja}}</td>-->
        <td>{{cliente.fechaModi}}</td>
        <td>{{cliente.usuario}}</td>
        <!--<td>{{cliente.userBaja}}</td>-->
        <td>{{cliente.userModi}}</td>
        <td>bton</td><td>obton</td>
      </tr>
    </tbody>
  
  </table>
