.example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
         causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  
  }
  
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
         `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }

  .ancho{
    width: 90%;
  }
  .alto{
    height: 100px;
    max-height: 160px;
  }
  .mat-card:not([class*=mat-elevation-z]){
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;  }
  mat-spinner {
    margin-left: auto;
    margin-right: auto;
    transform:translateY(450%);
    
}