<mat-spinner *ngIf="loading" diameter="50"></mat-spinner>
<div *ngIf="!loading" class="container">
    <mat-card>
        <mat-grid-list cols="4" rowHeight="70px">
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="ancho" appearance="fill">
                        <mat-label>Cliente</mat-label>
                        <input [(ngModel)]="_accionesCliente.cliente" matInput autocomplete="off" disabled="true">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="ancho" appearance="fill">
                        <mat-label>RAZON SOCIAL</mat-label>
                        <input [(ngModel)]="_accionesCliente.nom" matInput autocomplete="off" disabled="true">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="4" [rowspan]="3">
                    <mat-form-field mat-cell class="ancho" appearance="fill">
                        <mat-label>COMENTARIOS</mat-label>
                        <textarea class="alto" matInput [(ngModel)]="_accionesCliente.comentarios"></textarea>                    
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile class="alto" [colspan]="4" [rowspan]="1">
                    <button type="button" mat-flat-button
                        style="text-align: center; margin-right: 10px;color:aliceblue; background-color: #d0342c;"
                        (click)="cerrar()">Cancelar </button>

                    <button (click)="editarUsuario()" type="submit" mat-flat-button color="primary">aceptar</button>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="4" [rowspan]="1">

                    <img src="./assets/imagenes/tecnolab-logo.gif">
                </mat-grid-tile>
            </mat-grid-list>
       
    </mat-card>
</div>