<div fxLayout="row" fxFlexFill fxLayout.xs="column"  class="login-div"  >
    <div fxFlex = "50%" fxFlex.xs="100%" fxLayoutAlign="center" class="div-izq">
       
        <mat-card fxFlex="100%" fxLayoutAlign="center" >
                
                <form fxLayout="column" class="login-form" fxFlex="50%" method="post">
                    <h1 fxLayoutAlign="center"><img class="logo" src="../../../assets/imagenes/logo.jpg"></h1>
                    <p fxLayoutAlign="center">Registrarse</p>
                    <mat-form-field >

                    <mat-label>Email</mat-label>
                    <input 
                    matInput placeholder="ingrese su email" 
                    [(ngModel)]="email"
                    value=""
                    name="email"
                    required="required"
                    />

                    <mat-icon matSuffix>account_circle</mat-icon>
                    </mat-form-field>
                
                    <mat-form-field>
                    <mat-label>Contraseña</mat-label>
                    <input 
                    matInput placeholder="ingrese su contraseña" 
                    name="password" 
                    type="password" 
                    [(ngModel)]="password"
                    required="required" 
                    />
                    
                    <mat-icon matSuffix>key</mat-icon>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Repita su contraseña</mat-label>
                        <input 
                        matInput placeholder="repita su contraseña" 
                        name="password" 
                        type="password" 
                        [(ngModel)]="confirmPassword"
                        required="required" 
                        />
                        
                        <mat-icon matSuffix>key</mat-icon>
                        </mat-form-field>
                    
                    <button mat-button mat-raised-button type="submit" (click)="register()">Registrarse</button>
                </form>
        </mat-card>
    </div>
    <div fxFlex="50%" fxLayoutAlign="center center" class="imagen-div"><img class="img-fluid" src="../../../assets/imagenes/TECNOLAB0373.jpg" ></div>
</div>
