@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

*{  
   
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}
mat-divider{
    background-color: rgba(138, 138, 138, 0.396);
}
h1{
    color:rgba(250, 235, 215, 0.403);
}
mat-icon{
    font-family: 'Material icons';
    color:aliceblue;
    font-size: 210%;
    padding-left: 8px;
}
mat-icon:hover{
    font-family: 'Material icons';
    color:rgb(3, 184, 255);  
}
mat-sidenav {
    height: 100%;
    width: 17%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background: #11101d;
    overflow-x: hidden;
    padding-top: 16px;
    box-shadow: 10px 0px 15px rgba(0, 0, 0, 0.514);   
    transition: margin-left .15s,margin-right .15s,box-shadow 75ms;
}
mat-sidenav-container{
    width: 100%;
    height: 100%;
    
}
mat-sidenav a{  
    margin-bottom: 4px;;
    padding: 15px;
    text-decoration:none;
    font-size: 16px;
    color:rgb(255, 255, 255);;
    display: block;
    transition: all 0.4s ease;
    border-radius: 15px;
    
}
mat-sidenav a:HOVER{  
    color: rgb(0, 88, 124);
    background-color: #fff;
}
@media screen and (max-width:1250px) {
    mat-sidenav {
        padding-top: 15px;
        width: 28%;
    }
    mat-sidenav a {font-size: 18px;}
  }
  @media screen and (max-width:590px) {
    mat-sidenav {
        width: 50%;
    }
    .logo{
        height: 30px;
        width: 140px;
    }
    .imgUser{
        width: 100px;
        height: 100px;
    }
    .email{
        font-style: none;
        font-size: 3px;
        
    }
    mat-sidenav a{
        font-size:16px;
    }
}

@media screen and (max-width:420px) {
    mat-sidenav {
        width: 60%;
    }
    .logo{
        height: 40px;
        width: 180px;
    }
    .usuario .p{
        font-size: 3px;
    }
    
}
@media screen and (max-width:394px){
    mat-sidenav {
        width: 66%;
    } 
    .email{
        font-size:3px;
    }
}
.main{
    width: auto;
    height: auto;
    position: sticky;
    
}
.content{
    width: 100%;
    height: 100%px;
    padding-top: 60px;
    
}
.navbar{
    width: 100%;
    height: 60px;
    background-color: rgb(0, 88, 124);
    background: linear-gradient(80deg, rgb(0, 88, 124));
    color:rgb(50, 50, 50);
    position: fixed;
    z-index: 100;
    top:0px
}
.spacer {
    flex: 1 1 auto;
  }
.logo{
    margin-top: -20px;
    margin-bottom: 0.4rem;
    padding-bottom: 0px;
    height: 35px;
    width: 170px;
}
.usuario{
    text-align: center;
    font-weight: 800;
    margin-bottom: 18px;
}
.imgUser{
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
}
.name{
    margin-top: -6px;
    color: #fff;
    font-weight: lighter;
    font-size: 18px;
}
.email{
    margin-top: -5px;
    color:rgba(255, 255, 255, 0.6);
    margin-bottom: 20px;
    font-size: 14px;
}
.dividers mat-divider{
    background-color: rgb(239, 239, 239);
}
.dividers i {
    height: 30px;
    min-width: 40px;
    text-align: center;
    border-radius: 12px;
    line-height: 30px;
    margin-left: -10px;
}

