<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<mat-sidenav-container>  
    <mat-sidenav  #sidebar mode="side" opened >    
    <h1 fxLayoutAlign="center"><img fxLayoutAlign="center" src="../../../assets/imagenes/logo2.png" alt="" class="logo"></h1>  
    <mat-divider></mat-divider>
    <div class="usuario">
        <img src={{imgUser}} alt="" class="imgUser">
        <h4 class="name">{{nameUser}}</h4>
        <p class="email">{{emailUser}}</p>
    </div>
    <a href="dashBoard"><i class="fa fa-fw fa-home"></i> Home</a>
    <a href="#services"><i class="fa fa-fw fa-wrench"></i> Admistracion</a>
    <a href="#contact"><i class="bi bi-activity"></i> Comercial</a>
    <a href="#contact"><i class="fa fa-fw fa-envelope"></i> Dirección Técnica</a>
    <a href="#contact"><i class="fa fa-fw fa-envelope"></i> Compras locales e importaciones</a>
    <a href="#contact"><i class="fa fa-fw fa-envelope"></i> Depósito y distribucion</a>

    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content">
            <nav class="navbar">
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                    <mat-icon (click)="sidebar.toggle()">menu</mat-icon>
                </button>
                <app-nav-bar></app-nav-bar>
            </nav>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>