<div class="main-content">
<mat-grid-list  [cols]="cols" rowHeight="10:11" gutterSize="20px" >
    <mat-grid-tile>  
        <app-chart1></app-chart1>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-line-chart></app-line-chart>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-radar-chart></app-radar-chart>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-dynamic-chart></app-dynamic-chart>
    </mat-grid-tile>
    <mat-grid-tile>  
        <app-chart1></app-chart1>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-line-chart></app-line-chart>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-radar-chart></app-radar-chart>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-dynamic-chart></app-dynamic-chart>
    </mat-grid-tile>
  </mat-grid-list>
</div>