<div style="width:100%">
  <mat-sidenav #snav [ngStyle]="{ 'width.em': 45 }" id="sidenav" fixedTopGap="56" closed position="end" mode='over'>
    <div>
      <mat-grid-list cols="6" rowHeight="50px">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
        </mat-grid-tile>
        <mat-grid-tile [colspan]="4" [rowspan]="1">
          AGREGAR CLIENTE CON DIFICULTADES
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <button (click)="snav.close()" mat-icon-button
            aria-label="Example icon button with a plus one icon">
            <mat-icon>clear</mat-icon>
          </button>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <app-add-cliente-con-dificultad></app-add-cliente-con-dificultad>
  </mat-sidenav>




  <mat-form-field appearance="standard" style="width:30%; margin-left: 34px;">
    <mat-label>Filter</mat-label>
    <input autocomplete="off" matInput (keyup)="applyFilter($event)" placeholder="Ej. razon social" #input>
  </mat-form-field>
  <div class="tableDiv">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 table-striped ">
      <!--- Tenga en cuenta que estas columnas se pueden definir en cualquier orden.
          Las columnas representadas reales se establecen como una propiedad en el ts donde displayedColumns" -->

      <ng-container matColumnDef="icono1">
        <mat-toolbar>
          <th *matHeaderCellDef>
            <button (click)="snav.toggle()" style="margin-right: 10px;" mat-icon-button color="accent"
              aria-label="Example icon button with a plus one icon" matTooltip="agregar cliente">
              <mat-icon style="margin-top: -2px;">add</mat-icon>
            </button>
          </th>
          <td mat-cell *matCellDef="let element"></td>
        </mat-toolbar>
      </ng-container>

      <ng-container matColumnDef="clI_ID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nro</th>
        <td mat-cell *matCellDef="let element">{{element.clI_ID}}</td>
      </ng-container>


      <ng-container matColumnDef="clI_COD">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</th>
        <td mat-cell *matCellDef="let element">{{element.clI_COD}}</td>
      </ng-container>


      <ng-container matColumnDef="clI_NOM">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Razón Social</th>
        <td mat-cell *matCellDef="let element">{{element.clI_NOM}}</td>
      </ng-container>


      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Alta</th>
        <td mat-cell *matCellDef="let element">{{ element.fecha | date:'dd/MM/yyyy'}}</td>
      </ng-container>


      <ng-container matColumnDef="usuario">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Usuario</th>
        <td mat-cell *matCellDef="let element">{{element.usuario}}</td>
      </ng-container>


      <ng-container matColumnDef="comentarios">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Comentarios</th>
        <td mat-cell *matCellDef="let element">{{element.comentarios}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No se encuentra "{{input.value}}"</td>
      </tr>
    </table>
  </div>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>