.example-spacer {
  flex: 1 1 auto;
}

.tableDiv{
  width: 100%;
  margin-bottom: 20px;
}
table{
  width: 90%;
  margin: 0 auto;
}
::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
 background-color: rgba(0, 87, 122, 0.418);
 color:black
}
::ng-deep .mat-sort-header-arrow {
  color: rgba(255, 0, 85, 0.801);
}

div th{
  color: rgb(255, 255, 255);
  font-weight:500;
  font-size: medium;
  background-color: rgba(0, 0, 0, 0.855);
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-column-clI_ID{
 padding-right: 25px;
}
.mat-column-clI_COD{
  padding-right: 25px;
}
.mat-column-clI_NOM{
  width: 23%;
}
.mat-column-fecha{
  width: 10%;
}
.mat-column-usuario{
  padding-right: 25px;
}
.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

/*css de sidebar */

.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 20px;
}

.mat-fab:not([class*=mat-elevation-z]), .mat-mini-fab:not([class*=mat-elevation-z]){
  box-shadow: none;
}
