/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;
    background-color: rgb(255, 255, 255);
 }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

*::-webkit-scrollbar {
    -webkit-appearance: none;
}


*::-webkit-scrollbar:vertical {
    width:9.9px;
    padding: auto;
}


*::-webkit-scrollbar:horizontal {
    height: 9.9px;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(179, 179, 179);
    border-radius: 20px;
    border: 2px solid rgba(0, 58, 81, 0.386);
}

*::-webkit-scrollbar-track {
    border-radius: 10px;  
}




