
.tableDiv {
    width: 100%;
    margin-bottom: 20px;
  }
  
  table {
    width: 90%;
    margin: 0 auto;
  }
  
  ::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    background-color: rgba(0, 87, 122, 0.418);
    color: black
  }
  
  ::ng-deep .mat-sort-header-arrow {
    color: rgba(255, 0, 85, 0.801);
  }
  
  div th {
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: medium;
    background-color: rgba(0, 0, 0, 0.855);
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-column-clI_ID {
    padding-right: 25px;
  }
  
  .mat-column-clI_COD {
    padding-right: 25px;
  }
  
  .mat-column-clI_NOM {
    width: 20%;
  }
  
  .mat-column-fecha {
    width: 10%;
  }
  
  .mat-column-usuario {
    padding-right: 20px;
  }
  .mat-column-comentarios{
    width: 31%;
  }
  .pointer{
   cursor:pointer; 
  }
  .mat-fab:not([class*=mat-elevation-z]),
  .mat-mini-fab:not([class*=mat-elevation-z]) {
    box-shadow: none;
  }
  
  .example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
         causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  
  }
  
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
         `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }
  
  .mat-sidenav {
    width: 45em;
    height: 100%;
    flex: 1;
  }
  .material-symbols-outlined{
    font-size: 35px;
  }
  .buton1Nav:hover {
    transition: all 0.4s ease;
    color: rgba(255, 255, 255, 0.915);
    background-color: rgba(0, 88, 126, 0.655);
  }
  
  .buton2Nav:hover {
    transition: all 0.4s ease;
    color: rgba(255, 255, 255, 0.915);
    background-color: rgba(0, 88, 126, 0.655);
  }
  .filter{
    width: 50%;
  }
    @media screen and (max-height:601px) {
      .mat-sidenav {
        height: 540px ;
      }
      .filter{
        width: 80%;
      }
    }
    
    @media screen and (max-width:599px) {
      .mat-sidenav {
        width: 600px;
      }
      .filter{
        width: 80%;
      }
    }
    
    @media screen and (max-width:542px) {
      .mat-sidenav {
        width: 540px;
      }
      .filter{
        width: 80%;
      }
    }
    
    @media screen and (max-width:415px) {
      .mat-sidenav {
        width: 415px;
      }
      .filter{
        width: 80%;
      }
    }
    
    @media screen and (max-width:394px) {
      .mat-sidenav {
        width: 394px;
      }
      .filter{
        width: 80%;
      }
    }
  
  @media screen and (max-width:362px) {
    .mat-sidenav {
      width: 360px;
    }
    .filter{
      width: 80%;
    }
  }
  
    @media screen and (max-width:282px) {
      .mat-sidenav {
        width: 282px;
      }
      .filter{
        width: 80%;
      }
   }
  
  
  .titulosidebar {
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
  }
  
  @media screen and (max-width:599px) {
    .titulosidebar {
      font-size: 11px;
      margin-top: 10px;
      font-weight: bolder;
      font-family: 'Montserrat', sans-serif;
    }
  }
  