<div style="width:100%">
  <div class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" [opened]="this.uiState.sideNavOpen"
      position="end">
      <div>
        <mat-grid-list cols="6" rowHeight="50px">
          <mat-grid-tile [colspan]="1" [rowspan]="1">
          </mat-grid-tile>
          <mat-grid-tile [colspan]="4" [rowspan]="1">
            <a class="titulosidebar">AGREGAR CLIENTE CON DIFICULTADES</a>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <button (click)="sideNavToggle()" mat-icon-button aria-label="Example icon button with a plus one icon">
              <mat-icon>clear</mat-icon>
            </button>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
      <div>
        <app-add-cliente-con-dificultad></app-add-cliente-con-dificultad>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </div>

  <div style="width:100%">
    <div class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" [opened]="this.uiState.sideNavOpen"
        position="end">
        <div>
          <mat-grid-list cols="6" rowHeight="50px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
            </mat-grid-tile>
            <mat-grid-tile [colspan]="4" [rowspan]="1">
              <a class="titulosidebar">AGREGAR CLIENTE CON DIFICULTADES</a>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <button (click)="sideNavToggle()" mat-icon-button aria-label="Example icon button with a plus one icon">
                <mat-icon>clear</mat-icon>
              </button>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
        <div>
        <app-add-cliente-con-dificultad></app-add-cliente-con-dificultad>
        </div>
      </mat-sidenav>
      <mat-sidenav-content>
      </mat-sidenav-content>
    </div>